.main {
    position: relative;
    text-align: center;
    padding: 40px 0;
}

.main__welcome-to-lexico {
    display: inline-block;
    position: relative;
    width: 832px;
    cursor: pointer;
    outline: none;
    user-select: none;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 160px;
        background: rgba(31,16,0,0.9);
        background: linear-gradient(to bottom, transparent 0%, 
                                  rgba(31,16,0,0.9) 50%, rgba(31,16,0,0.9) 100%);
    }
}

.main__find-out-more-text {
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    font-size: 36px;
    line-height: 45px;
    font-weight: var(--global--font-weight--normal);
    color: rgb(255, 255, 255);
    cursor: pointer;
    user-select: none;
}