.footer {
    background-color: var(--global--color--primary-dark);
}

.footer__copyright {
    padding-top: 36px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.67);
    text-align: center;
    margin: 0;
}