.footer {
    background-color: rgb(47, 45, 46);
}

.footer__copyright {
    padding-top: 15px;
    padding-bottom: 36px;
    color: rgba(255, 255, 255, 0.67);
    text-align: center;
    margin: 0;
}