<p (click)="onSend()">
  word-info works!
</p>

<div class="word-info-container">
  <h1 class="word-info-container__header">Definition of {{ word }} in English:</h1>
  <!-- <div class="homographs">
    <h1 class="homographs__header">Main definitions of <em class="homographs__word">set</em> in English</h1>: 
    <a class="homographs__link" href="#1">set<sup>1</sup></a>
    <a class="homographs__link" href="#2">set<sup>2</sup></a>
    <a class="homographs__link" href="#3">set<sup>3</sup></a>
  </div> -->
   <!-- obj.id -->
  <h2 class="word-info-container__word">{{ word }}</h2> 
  <div class="word-audio">
    <img src="assets/audio-hover.svg" alt="audio">
  </div>

  <!-- obj.results[0].lexicalEntries[0] -->
  <section class="lexical-category">
      <!-- obj.results[0].lexicalEntries[0].lexicalCategory.text -->
      <h3 class="lexical-category__header">noun</h3>

      <ol class="senses">
        <li class="sense">        
          <div class="sense__main-block">
            <span class="sense__word-form-note">(<strong>a word</strong>) </span>
            <span class="sense__grammatical-note">[with negative]</span>
            <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].definitions -->
            <span class="sense__definition">
              <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].notes[0].text -->
              <!-- for text like (bold text), and [negative] text -->
              
              a single distinct meaningful element of speech or 
              writing, used with others (or sometimes alone) to form a sentence and typically shown with a 
              space on either side when written or printed
            </span>

            <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].examples[0].text -->
            <div class="sense__example">
              <span class="sense__word-form-note">(<strong>a word</strong>) </span>
              <span class="sense__grammatical-note">[with negative]</span>
              ‘why so many words for so few ideas?’
            </div>
            <div class="sense__example">‘why so many words for so few ideas?’</div>
          </div>

          <ol class="sense__subsenses">
            <li class="sense__subsense">
              <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].definitions -->
              <div class="sense__subsense-definition">
                <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].notes[0].text
                there are wordFormNote and grammaticalNote types -->
                a single distinct conceptual unit of language, comprising inflected and variant forms.
              </div>

              <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].examples[0].text -->
              <div class="sense__example">
                  ‘All I will say is that this movie was true in the basic sense of the word.’
              </div>
            </li>
          </ol>
        </li>

        <!-- Second sense -->

        <li class="sense">        
          <div class="sense__main-block">
            <span class="sense__word-form-note">(<strong>a word</strong>) </span>
            <span class="sense__grammatical-note">[with negative]</span>
            <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].definitions -->
            <span class="sense__definition">
              <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].notes[0].text -->
              <!-- for text like (bold text), and [negative] text -->
              
              a single distinct meaningful element of speech or 
              writing, used with others (or sometimes alone) to form a sentence and typically shown with a 
              space on either side when written or printed
            </span>

            <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].examples[0].text -->
            <div class="sense__example">
              <span class="sense__word-form-note">(<strong>a word</strong>) </span>
              <span class="sense__grammatical-note">[with negative]</span>
              ‘why so many words for so few ideas?’
            </div>
            <div class="sense__example">‘why so many words for so few ideas?’</div>
          </div>

          <ol class="sense__subsenses">
            <li class="sense__subsense">
              <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].definitions -->
              <div class="sense__subsense-definition">
                <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].notes[0].text
                there are wordFormNote and grammaticalNote types -->
                a single distinct conceptual unit of language, comprising inflected and variant forms.
              </div>

              <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].examples[0].text -->
              <div class="sense__example">
                  ‘All I will say is that this movie was true in the basic sense of the word.’
              </div>
            </li>

            <li class="sense__subsense">
                <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].definitions -->
                <div class="sense__subsense-definition">
                  <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].notes[0].text
                  there are wordFormNote and grammaticalNote types -->
                  a single distinct conceptual unit of language, comprising inflected and variant forms.
                </div>
  
                <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].examples[0].text -->
                <div class="sense__example">
                    ‘All I will say is that this movie was true in the basic sense of the word.’
                </div>
              </li>

              <li class="sense__subsense">
                  <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].definitions -->
                  <div class="sense__subsense-definition">
                    <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].notes[0].text
                    there are wordFormNote and grammaticalNote types -->
                    a single distinct conceptual unit of language, comprising inflected and variant forms.
                  </div>
    
                  <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].examples[0].text -->
                  <div class="sense__example">
                      ‘All I will say is that this movie was true in the basic sense of the word.’
                  </div>
                </li>
          </ol>
        </li>
      </ol>
  </section>

  <section class="lexical-category">
    <!-- obj.results[0].lexicalEntries[0].entries[0].etymologies -->
    <h3 class="lexical-category__black-header">Origin</h3>
    <div class="lexical-category__etymologies">
        Old English, of Germanic origin; related to Dutch woord and German Wort, from an Indo-European 
        root shared by Latin verbum ‘word’.
    </div>
  </section>

  <!-- <section class="pronunciation-section"> -->
  <section class="lexical-category">
    <h3 class="lexical-category__black-header">Pronunciation</h3>
    <strong class="lexical-category__word">{{ word }}</strong>
    <!-- obj.results[0].lexicalEntries[0].pronunciations.phoneticSpelling -->
    <span class="lexical-category__phonetic-pronunciation">/wəːd/</span>
    <!-- obj.results[0].lexicalEntries[0].pronunciations.audioFile -->
    <span class="word-audio word-audio--pronunciation">
      <img src="assets/audio-hover.svg" alt="audio">
    </span>
  </section>
</div>
