<ng-template [ngIf]="mainService.isResultReturned" [ngIfElse]="loadSpinner">
  <ng-template [ngIf]="mainService.results.length" [ngIfElse]="wordNotFound">
    <div class="word-info-container" *ngFor="let result of mainService.results; let i = index">
      <div class="word-info-container__header-wrapper"
          [ngClass]="{'word-info-container__header-wrapper--border': i > 0 }">
        <div class="homographs" *ngIf="mainService.results.length > 1; else singleDefinitionHeader">
          <h1 class="homographs__header">Main definitions of <em class="homographs__word">{{ mainService.word }}</em> in English</h1>: 
          <a 
            class="homographs__link"
            *ngFor="let word of mainService.results; let i = index" 
            [routerLink]="['/word-info/', mainService.searchWord]" 
            fragment="{{ i + 1 }}">
            {{ word.id }}<sup>{{ i + 1 }}</sup>
          </a>
        </div>
      
        <ng-template #singleDefinitionHeader>
          <h1 class="word-info-container__header">Definition of {{ mainService.word }} in English:</h1>
        </ng-template>
      
        <h2 class="word-info-container__word" id="{{ i + 1 }}">
          {{ result.id }}<sup *ngIf="mainService.results.length > 1">{{ i + 1 }}</sup>
        </h2> 
        <div class="word-audio">
          <img 
            src="assets/audio-hover.svg" 
            alt="audio" 
            (click)="playAudio(result.lexicalEntries[0].pronunciations[0].audioFile)">
        </div>
      </div>

      <section class="lexical-category" *ngFor="let lexicalEntry of result.lexicalEntries">
        <h3 class="lexical-category__header">{{ lexicalEntry.lexicalCategory.id }}</h3>

        <ol class="senses">
          <li class="sense" *ngFor="let sense of lexicalEntry.entries[0].senses">        
            <div class="sense__main-block">
              <ng-template ngFor let-note [ngForOf]="sense.notes">
                <span class="sense__word-form-note" *ngIf="isWordFormNoteType(note.type)">
                  (<strong>{{ note.text }}</strong>)
                </span>
                <span class="sense__grammatical-note" *ngIf="isGrammaticalNoteType(note.type)">
                  [{{ note.text }}]
                </span>
              </ng-template>
              <span class="sense__definition">
                <ng-template [ngIf]="sense.definitions" [ngIfElse]="crossReferenceMarker">
                  {{ editDescription(sense.definitions[0]) }}
                </ng-template>
                <ng-template #crossReferenceMarker>
                  {{ sense.crossReferenceMarkers[0] }}
                </ng-template>
              </span>

              <div class="sense__example" *ngFor="let example of sense.examples">
                <ng-template ngFor let-note [ngForOf]="example.notes">
                  <span class="sense__word-form-note" *ngIf="isWordFormNoteType(note.type)">
                    (<strong>{{ note.text }}</strong>)
                  </span>
                  <span class="sense__grammatical-note" *ngIf="isGrammaticalNoteType(note.type)">
                    [{{ note.text }}]
                  </span>
                </ng-template>
                ‘{{ example.text }}’
              </div>
            </div>

            <ol class="sense__subsenses">
              <li class="sense__subsense" *ngFor="let subsense of sense.subsenses">
                <div class="sense__subsense-definition">
                  <ng-template ngFor let-note [ngForOf]="subsense.notes">
                    <span class="sense__word-form-note" *ngIf="isWordFormNoteType(note.type)">
                      (<strong>{{ note.text }}</strong>)
                    </span>
                    <span class="sense__grammatical-note" *ngIf="isGrammaticalNoteType(note.type)">
                      [{{ note.text }}]
                    </span>
                  </ng-template>

                  <ng-template [ngIf]="subsense.definitions" [ngIfElse]="crossReferenceMarker">
                    {{ editDescription(subsense.definitions[0]) }}
                  </ng-template>
                  <ng-template #crossReferenceMarker>
                    {{ subsense.crossReferenceMarkers[0] }}
                  </ng-template>
                </div>

                <div class="sense__example" *ngFor="let example of subsense.examples">
                  <ng-template ngFor let-note [ngForOf]="example.notes">
                    <span class="sense__word-form-note" *ngIf="isWordFormNoteType(note.type)">
                      (<strong>{{ note.text }}</strong>)
                    </span>
                    <span class="sense__grammatical-note" *ngIf="isGrammaticalNoteType(note.type)">
                      [{{ note.text }}]
                    </span>
                  </ng-template>
                  ‘{{ example.text }}’
                </div>
              </li>
            </ol>
          </li>
        </ol>
      </section>

      <section class="lexical-category" *ngIf="result.lexicalEntries[0].entries[0].etymologies">
        <h3 class="lexical-category__black-header">Origin</h3>
        <div class="lexical-category__etymologies">
          {{ addDot(result.lexicalEntries[0].entries[0].etymologies[0]) }}
        </div>
      </section>

      <section class="lexical-category" *ngIf="result.lexicalEntries[0].pronunciations">
        <h3 class="lexical-category__black-header">Pronunciation</h3>
        <strong class="lexical-category__word">{{ mainService.word }}</strong>

        <span class="lexical-category__phonetic-pronunciation">
          /{{ result.lexicalEntries[0].pronunciations[0].phoneticSpelling }}/
        </span>

        <span class="word-audio word-audio--pronunciation">
          <img 
            src="assets/audio-hover.svg" 
            alt="audio" 
            (click)="playAudio(result.lexicalEntries[0].pronunciations[0].audioFile)">
        </span>
      </section>
    </div>
  </ng-template>
  <ng-template #wordNotFound>
    <div class="word-info-container">
      <h2 class="word-info-container__no-matches-found">No exact matches found for "{{ mainService.word }}"</h2>
    </div>
  </ng-template>
</ng-template>
<ng-template #loadSpinner>
  <div class="container">
    <div class="container__spinner"></div>
  </div>
</ng-template>
