@import url('https://fonts.googleapis.com/css?family=Merriweather:400i,700&display=swap');

.word-info-container {
    width: 772px;
    min-height: 500px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 2px 20px;
    color: rgb(42, 42, 42);
}

.word-info-container__no-matches-found {
    font-weight: 400;
    font-size: 32px;
}

.word-info-container__header-wrapper {
    padding-top: 18px;
}

.word-info-container__header-wrapper--border {
    border-top: 1px solid rgb(1, 100, 167);
}

.word-info-container__header {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.homographs {
    border: 2px solid #DFEAF0;
    padding: 8px;
    padding-bottom: 5px;
    background-color: #f8fafe;
    font-weight: 600;
    line-height: 1.6em;
    font-size: 16px;
}

.homographs__header {
    display: inline;
    max-width: 100%;
    font-weight: 400;
    font-size: 16px;
}

.homographs__word {
    font-style: normal;
    font-weight: 700;
}

.homographs__link {
    color: rgb(60, 154, 227);
    margin-right: 4px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.word-info-container__word {
    display: inline-block;
    margin-right: 6px;
    font-size: 34px;
}

.word-audio {
    display: inline-block;
    margin: 0 10px;
    height: 24px;
    width: 24px;
    cursor: pointer;

    &:hover {
        filter: brightness(0.9);
    }
}

.lexical-category {
    padding-top: 4px;
    margin-bottom: 32px;
    border-top: 2px solid rgb(136, 136, 136);
}

.lexical-category__header {
    color: rgb(241, 90, 36);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 16px;
    margin: 0;
}

.sense__main-block {
    margin-bottom: 19px;
}

.sense__definition, .sense__subsense-definition {
    line-height: 24px;

    &:only-of-type { 
        list-style-type: none; 
    }
}

.lexical-category__etymologies {
    &::first-letter {
        text-transform: uppercase;
    }
}

.sense__example {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    margin: 4px 0 7px;
}

.senses {
    list-style: none;
    counter-reset: sense;
    padding-left: 24px;
}

.sense {
    position: relative;
    counter-increment: sense;
    margin-bottom: 19px;

    &::before {
        content: counter(sense);
        font-weight: 700;
        position: absolute;
        left: -24px;
        top: 4px;
        font-size: 14px;
    }
}

.sense__subsenses {
    list-style: none;
    counter-reset: subsense;
    padding: 0;
}

.sense__subsense {
    position: relative;
    counter-increment: subsense;
    padding-left: 33px;
    margin-bottom: 19px;

    &::before {
        content: counter(sense) "." counter(subsense);
        font-weight: 700;
        position: absolute;
        left: 0;
        top: 4px;
        font-size: 14px;
    }
}

.lexical-category__black-header {
    color: rgb(0, 0, 0);
    margin: 0;
    margin-bottom: 4px;
    font-size: 18px;
}

.lexical-category__phonetic-pronunciation {
    margin-left: 7px;
}

.sense__word-form-note {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
}

.sense__grammatical-note {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #27a058;
    font-style: italic;
    font-size: 16px;
}

.word-audio--pronunciation {
    vertical-align: middle;
}

.lexical-category__word {
    font: 700 18px "Merriweather", Georgia, "Times New Roman", sans-serif;
    font-family: "Merriweather", Georgia, "Times New Roman", sans-serif;
}

.container {
    height: 400px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.container__spinner {
    display: inline-block;
    height: 70px;
    width: 70px;
    margin-top: 100px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid rgb(0, 0, 0);
	animation: spinner2 700ms linear infinite;
}
@keyframes spinner2 {
	to {
		transform: rotate(360deg);
	}
}