<p (click)="onSend()">
  word-info works!
</p>

<!-- results: -->
<div class="word-info-container" *ngFor="let result of results">
  <h1 class="word-info-container__header">Definition of {{ word }} in English:</h1>
  <!-- <div class="homographs">
    <h1 class="homographs__header">Main definitions of <em class="homographs__word">{{ word }}</em> in English</h1>: 
    <a class="homographs__link" href="#1">set<sup>1</sup></a>
    <a class="homographs__link" href="#2">set<sup>2</sup></a>
    <a class="homographs__link" href="#3">set<sup>3</sup></a>
  </div> -->
   <!-- obj.id -->
  <h2 class="word-info-container__word">{{ result.id }}</h2> 
  <div class="word-audio">
    <img src="assets/audio-hover.svg" alt="audio">
    <audio [src]="result.lexicalEntries[0].pronunciations[0].audioFile"></audio>
  </div>

  <!-- obj.results[0].lexicalEntries[0] -->
  <section class="lexical-category" *ngFor="let lexicalEntry of result.lexicalEntries">
      <!-- obj.results[0].lexicalEntries[0].lexicalCategory.id -->
      <h3 class="lexical-category__header">{{ lexicalEntry.lexicalCategory.id }}</h3>

      <ol class="senses">
        <!-- senses: -->
        <li class="sense" *ngFor="let sense of lexicalEntry.entries[0].senses">        
          <div class="sense__main-block">
            <ng-template ngFor let-note [ngForOf]="sense.notes">
              <span class="sense__word-form-note" *ngIf="isWordFormNoteType(note.type)">
                (<strong>{{ note.text }}</strong>)
              </span>
              <span class="sense__grammatical-note" *ngIf="isGrammaticalNoteType(note.type)">
                [{{ note.text }}]
              </span>
            </ng-template>
            <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].definitions -->
            <span class="sense__definition">
              <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].notes[0].text -->
              <!-- for text like (bold text), and [negative] text -->
              
              {{ editDescription(sense.definitions[0]) }}
            </span>

            <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].examples[0].text -->
            <div class="sense__example" *ngFor="let example of sense.examples">
              <ng-template ngFor let-note [ngForOf]="example.notes">
                <span class="sense__word-form-note" *ngIf="isWordFormNoteType(note.type)">
                  (<strong>{{ note.text }}</strong>)
                </span>
                <span class="sense__grammatical-note" *ngIf="isGrammaticalNoteType(note.type)">
                  [{{ note.text }}]
                </span>
              </ng-template>
              <!-- <span class="sense__word-form-note">(<strong>a word</strong>) </span>
              <span class="sense__grammatical-note">[with negative]</span> -->
              ‘{{ example.text }}’
            </div>
          </div>

          <ol class="sense__subsenses">
            <li class="sense__subsense" *ngFor="let subsense of sense.subsenses">
              <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].definitions -->
              <div class="sense__subsense-definition">
                <ng-template ngFor let-note [ngForOf]="subsense.notes">
                  <span class="sense__word-form-note" *ngIf="isWordFormNoteType(note.type)">
                    (<strong>{{ note.text }}</strong>)
                  </span>
                  <span class="sense__grammatical-note" *ngIf="isGrammaticalNoteType(note.type)">
                    [{{ note.text }}]
                  </span>
                </ng-template>
                <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].notes[0].text
                there are wordFormNote and grammaticalNote types -->
                {{ editDescription(subsense.definitions[0]) }}
              </div>

              <!-- obj.results[0].lexicalEntries[0].entries[0].senses[0].subsenses[0].examples[0].text -->
              <div class="sense__example" *ngFor="let example of subsense.examples">
                <ng-template ngFor let-note [ngForOf]="example.notes">
                  <span class="sense__word-form-note" *ngIf="isWordFormNoteType(note.type)">
                    (<strong>{{ note.text }}</strong>)
                  </span>
                  <span class="sense__grammatical-note" *ngIf="isGrammaticalNoteType(note.type)">
                    [{{ note.text }}]
                  </span>
                </ng-template>
                ‘{{ example.text }}’
              </div>
            </li>
          </ol>
        </li>
      </ol>
  </section>

  <section class="lexical-category">
    <!-- obj.results[0].lexicalEntries[0].entries[0].etymologies -->
    <h3 class="lexical-category__black-header">Origin</h3>
    <div class="lexical-category__etymologies">
        <!-- Old English, of Germanic origin; related to Dutch woord and German Wort, from an Indo-European 
        root shared by Latin verbum ‘word’. -->
      {{ addDot(result.lexicalEntries[0].entries[0].etymologies[0]) }}
    </div>
  </section>

  <!-- <section class="pronunciation-section"> -->
  <section class="lexical-category">
    <h3 class="lexical-category__black-header">Pronunciation</h3>
    <strong class="lexical-category__word">{{ word }}</strong>
    <!-- obj.results[0].lexicalEntries[0].pronunciations.phoneticSpelling -->
    <span class="lexical-category__phonetic-pronunciation">
      /{{ result.lexicalEntries[0].pronunciations[0].phoneticSpelling }}/
    </span>
    <!-- obj.results[0].lexicalEntries[0].pronunciations.audioFile -->
    <span class="word-audio word-audio--pronunciation">
      <img src="assets/audio-hover.svg" alt="audio">
      <audio [src]="result.lexicalEntries[0].pronunciations[0].audioFile"></audio>
    </span>
  </section>
</div>
