.header {
    background-color: rgb(80, 180, 108);
    width: 100%;
    height: 146px;
}

.header__content {
    position: relative;
    width: 830px;
    height: 100%;
    margin: 0 auto;
}

.header__logo {
    height: 80px;
    position: absolute;
    top: 25%;
    cursor: pointer;
    outline: none;
}

.header__search-bar {
    width: 576px;
    height: 55px;
    position: absolute;
    top: 25%;
    right: 0;
}

.header__word-input {
    height: calc(100% - 4px);
    width: calc(100% - 14px);
    padding: 0;
    padding-left: 10px;
    border: 2px solid transparent;
    border-radius: 5px;

    &:focus {
        border-color: rgb(47, 45, 46);
    }
}

.header__keyboard {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 55px;
    height: 17px;
    margin: auto;
    cursor: pointer;
}

.header__keyboard-arrow {
    height: 17px;
    margin-left: 2px;
}

.header__search-button {
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    height: 46px;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto;
    outline: none;
    cursor: pointer;
}

.keyboard-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-top: -2px;
    display: none;
    border: 2px solid #2f2d2e;
    border-top: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    background-color: #f5f5f5;
}

.keyboard-box--opened {
    display: block;
}

.keyboard-box__symbol-list {
    margin: 0;
    padding: 5px 36px 5px 12px;
    list-style: none;
    line-height: 20px;
}

.keyboard-box__symbol-list--uppercase {
    text-transform: uppercase;
}

.keyboard-box__list-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: rgb(215, 215, 215);
    }
}

.keyboard-box__upper {
    position: absolute;
    top: 9px;
    right: 12px;
    cursor: pointer;
}