.content {
    height: 60vh;
    width: 830px;
    background-color: rgb(245, 245, 245);
    margin: 0 auto;
}

.background {
    background-color: rgb(232, 234, 238);
    min-height: 500px;
    height: 100%;
    padding: 30px 0;
}