.about-us {
    position: relative;
    width: 772px;
    margin: 20px auto;
    padding: 0 30px;
    padding-bottom: 65px;
    background-color: rgb(245, 245, 245);

    &::before {
        content: "";
        position: absolute;
        bottom: 35px;
        left: 32px;
        right: 32px;
        height: 0;
        border-bottom: 1px solid #ccc;
    }
}

.about-us__about-header {
    display: inline-block;
    width: 100%;
    padding-bottom: 9px;
    text-align: center;
}

.about-us__header-text {
    border-bottom: 1px solid #2f2d2e;
    font-weight: 400;
    font-size: 40px;
}

.about-us__content-text {
    font-size: 16px;
    line-height: 26px;
    color: rgb(42, 42, 42);
}