<div class="about-us">
  <h1 class="about-us__about-header">
    <span class="about-us__header-text">About</span>
  </h1>
  
  <p class="about-us__content-text">
    Lexico.com is a new collaboration between Dictionary.com and Oxford University Press 
    (OUP) to help users worldwide with everyday language challenges. Lexico is powered by Oxford’s free 
    English and Spanish dictionaries and features multi-language dictionary, thesaurus, and translation 
    content.
  </p>
    
  <p class="about-us__content-text">
    This partnership is exciting but may lead to a few questions, so please look through our frequently 
    asked questions below for some answers:
  </p>
    
  <p class="about-us__content-text"><strong>Are there still Oxford sites?</strong></p>
    
  <p class="about-us__content-text">
    There are many 
    <a href="https://languages.oup.com/" rel="noopener noreferrer" target="_blank">Oxford sites</a> 
    that are still active, but the free English and Spanish content is now exclusively available through 
    Lexico.
  </p>
    
  <p class="about-us__content-text"><strong>I had an account with Oxford, can I still access it?</strong></p>
    
  <p class="about-us__content-text">
    Your pre-existing account will not be deleted. You can manage your preferences by signing in 
    <a href="https://sso.oxforddictionaries.com/users/sign_in" rel="noopener noreferrer" target="_blank">here</a>. 
    Your account data will not be shared with Lexico.
  </p>
    
  <p class="about-us__content-text">
    <strong>
      When looking up a word in English, I used to be able to toggle between a US and UK Dictionary, is that 
      still the case?
    </strong>
  </p>
    
  <p class="about-us__content-text">
    When searching in the English Dictionary, a toggle between US and UK English is no longer provided. 
    We treat all of English as one dataset, but default with British and World English (which is equivalent 
    to the UK Dictionary toggle selection). That means when you look up a word, you will most likely find 
    the British and World English spelling and pronunciation. However, some US English words don’t exist 
    within this dataset, and in that case, you may come across a US entry for a word as there is no British 
    and World English option. The main spellings and pronunciations for the US entries will be US English.
  </p>
    
  <p class="about-us__content-text">
    If you are looking for a British and World English/US comparison, feel free to use Lexico 
    for your British and World English needs and 
    <a href="https://www.dictionary.com/" rel="noopener noreferrer" target="_blank">Dictionary.com</a> 
    for US spelling and pronunciation comparisons.
  </p>
    
  <p class="about-us__content-text"><strong>Is the dictionary content the same? Who writes the definitions?<br></strong></p>
    
  <p class="about-us__content-text">
    All definitions and translations are written by Oxford lexicographers. You can read how dictionary 
    content is created by visiting 
    <a href="https://languages.oup.com/our-story/creating-dictionaries" rel="noopener noreferrer" target="_blank">
      Oxford University Press
    </a>.
  </p>
    
  <p class="about-us__content-text"><strong>Where are my Word of the Day emails?<br></strong></p>
    
  <p class="about-us__content-text">
    The previous Word of the Day subscriber list was not transferred over to Lexico, unfortunately. 
    But, we will be providing a new email signup for our Word of the Day emails coming soon! Check back 
    for the signup form which will be featured on our homepage when ready.
  </p>
    
  <p class="about-us__content-text">---</p>
  
  <p class="about-us__content-text">
    For any other specific questions or issues, please &nbsp;see our 
    "<a href="https://www.lexico.com/en/contact-us" rel="noopener noreferrer" target="_blank">Contact Us</a>" 
    page. We are happy to assist and respond.
  </p>
    
  <p class="about-us__content-text">
    You can also access Oxford University Press’s 
    “<a href="https://languages.oup.com/lexico-faqs" rel="noopener noreferrer" target="_blank">Lexico FAQs</a>” 
    page, as well.
  </p>
</div>

