:root {
    --global--color--primary: rgb(232, 234, 238);
    --global--color--primary-light: rgb(255, 255, 255);
    --global--color--primary-dark: rgb(47, 45, 46);
    --global--color--green: rgb(80, 180, 108);
    --global--text--color: rgb(42, 42, 42);

    --global--width: 772px;

    --global--font-size--sm: 14px;
    --global--font-size--md: 16px;
    --global--font-size--lg: 18px;

    --global--font-weight--normal: 400;
    --global--font-weight--bold: 700;
}